/.idea
*.DS_Store
*.log
/backend/.idea
/backend/node_modules

/frontend-ionic/.idea
/frontend-ionic/.ionic
/frontend-ionic/.sass-cache
/frontend-ionic/.sourcemaps
/frontend-ionic/.versions
/frontend-ionic/.vscode
/frontend-ionic/coverage
/frontend-ionic/dist
/frontend-ionic/node_modules
/frontend-ionic/platforms
/frontend-ionic/plugins
/frontend-ionic/www